code, .md-typeset code {
    word-break: normal;
}

.md-sidebar--secondary {
    display: none;
}

.md-content {
    margin-right: 0;
}

.md-nav__link {
    margin-top: 0.5em;
    font-size: 90%;
}

.md-footer-nav__link {
    padding-top: 1rem;
    padding-bottom: 0;
}



table.gitgraph-examples {
    margin: 0.5rem 0;
}

table.gitgraph-examples>thead>tr>th,
table.gitgraph-examples>thead>tr>td,
table.gitgraph-examples>tbody>tr>th,
table.gitgraph-examples>tbody>tr>td,
table.gitgraph-examples>tfoot>tr>th,
table.gitgraph-examples>tfoot>tr>td {
    padding-top: 1rem;
    padding-left: 1rem;
    text-align: left;
}

table.gitgraph-examples>thead>tr>th:first-child,
table.gitgraph-examples>thead>tr>td:first-child,
table.gitgraph-examples>tbody>tr>th:first-child,
table.gitgraph-examples>tbody>tr>td:first-child,
table.gitgraph-examples>tfoot>tr>th:first-child,
table.gitgraph-examples>tfoot>tr>td:first-child {
    padding-left: 0;
}

table.gitgraph-examples>thead:first-child>tr:first-child>th,
table.gitgraph-examples>thead:first-child>tr:first-child>td,
table.gitgraph-examples>tbody:first-child>tr:first-child>th,
table.gitgraph-examples>tbody:first-child>tr:first-child>td,
table.gitgraph-examples>tfoot:first-child>tr:first-child>th,
table.gitgraph-examples>tfoot:first-child>tr:first-child>td {
    padding-top: 0;
}

table.gitgraph-examples>thead>tr[align="center"]>th,
table.gitgraph-examples>thead>tr[align="center"]>td,
table.gitgraph-examples>tbody>tr[align="center"]>th,
table.gitgraph-examples>tbody>tr[align="center"]>td,
table.gitgraph-examples>tfoot>tr[align="center"]>th,
table.gitgraph-examples>tfoot>tr[align="center"]>td {
    text-align: center;
}

table.gitgraph-examples>thead>tr[align="right"]>th,
table.gitgraph-examples>thead>tr[align="right"]>td,
table.gitgraph-examples>tbody>tr[align="right"]>th,
table.gitgraph-examples>tbody>tr[align="right"]>td,
table.gitgraph-examples>tfoot>tr[align="right"]>th,
table.gitgraph-examples>tfoot>tr[align="right"]>td {
    text-align: right;
}

table.gitgraph-examples>thead>tr[align="justify"]>th,
table.gitgraph-examples>thead>tr[align="justify"]>td,
table.gitgraph-examples>tbody>tr[align="justify"]>th,
table.gitgraph-examples>tbody>tr[align="justify"]>td,
table.gitgraph-examples>tfoot>tr[align="justify"]>th,
table.gitgraph-examples>tfoot>tr[align="justify"]>td {
    text-align: justify;
}

table.gitgraph-examples>thead>tr>th[align="center"],
table.gitgraph-examples>thead>tr>td[align="center"],
table.gitgraph-examples>tbody>tr>th[align="center"],
table.gitgraph-examples>tbody>tr>td[align="center"],
table.gitgraph-examples>tfoot>tr>th[align="center"],
table.gitgraph-examples>tfoot>tr>td[align="center"] {
    text-align: center;
}

table.gitgraph-examples>thead>tr>th[align="right"],
table.gitgraph-examples>thead>tr>td[align="right"],
table.gitgraph-examples>tbody>tr>th[align="right"],
table.gitgraph-examples>tbody>tr>td[align="right"],
table.gitgraph-examples>tfoot>tr>th[align="right"],
table.gitgraph-examples>tfoot>tr>td[align="right"] {
    text-align: right;
}

table.gitgraph-examples>thead>tr>th[align="justify"],
table.gitgraph-examples>thead>tr>td[align="justify"],
table.gitgraph-examples>tbody>tr>th[align="justify"],
table.gitgraph-examples>tbody>tr>td[align="justify"],
table.gitgraph-examples>tfoot>tr>th[align="justify"],
table.gitgraph-examples>tfoot>tr>td[align="justify"] {
    text-align: justify;
}

table.gitgraph-examples>thead>tr>th,
table.gitgraph-examples>tbody>tr>th,
table.gitgraph-examples>tfoot>tr>th {
    font-weight: bold;
}
